@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

body{
    background-color:#29313A;
}
*::-webkit-scrollbar {
    width: 0px;
  }

.border{
    border: solid orange 2px;
}

*{
    list-style: none;
    text-decoration: none;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    transition: ease 0.2s;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
}
ul{
    padding: 0px;
}
.red-number{
    color: red !important;
}
/* List all */
.list{
    height: 82%;
    overflow-y: auto;
    padding-left: 6%;
}

.date{
    width: 20%;
    margin: 0px;
}
.day-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}
.day{
    font-size: 24px;
}
.month{
    font-size: 14px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    border-top: solid 0.5px lightgray;
}
.hours{
    font-size: 14px;
}
.entry-amount{
    font-weight: bold;
    font-size: 24px;
}
.entry-details{
    width: 60%;
    margin: 0px;
}

.entry-button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 4%;
    margin-top: -10%;
    font-size: 18px;
    opacity: 0.7;
    width: 20%;
    cursor: pointer;
}
.app-title{
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5vw;
    padding-top: 2vh;
    margin-bottom: 2vh;
}

.budget-header{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 4vh;
}
.budget-container{
    display: flex;
    flex-direction: row-reverse;
    height: 94vh;
}
.budget-dashboard{
    background-color: #495365;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    width: 25%;
    padding-top: 1vh;
    margin-left: 0.5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: visible;
}
.dash-title{
    margin-top: 2vh;
    font-size: 26px;
    padding-left: 2vw;
    margin-bottom: 2vh;
}
.balance{
    text-align: center;
    margin-bottom: 5vh;
}

.chart{
    display: flex;
    justify-content: center;
    margin-bottom: 8vh;
}
.title{
    font-size: 14px;
    text-align: center;
}
.value{
    font-size: 34px;
    font-weight: bold;
}
.list .income{
    background-color: #9368FE;
}
.list .expense{
    background-color: #E266C2;
}
.list .expense, .list .income{
    margin: 2vh 0.5vw;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 10px 0px;
    width: 90%;
    height: 100px;
}
#expense,#income{
    height: 85%;
    overflow: visible;
}
#all{
    height: 104%;
}
.container-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: visible;
}
.container-list .list{
    height: 1000000%;
}
.income-total,.outcome-total{
    font-size: 30px;
    font-weight: bold;
}
.expense,.income{
    text-align: center;
}
.outcome-total, .outcome-total>small{
    color: red;
}
.toggle{
    display: flex;
    font-size: 18px;
    background-color: #515F72;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    height: 5vh;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}
.account{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    border-top: solid 0.01px rgb(170, 170, 170);
    padding-top: 2vh;
}

.tab1, .tab2, .tab3{
    opacity: 0.5;
    text-align: center;
    width: 33.33%;
    cursor: pointer;
}

.input{
    background-color: transparent;
    width: 10%;
    position: relative;
    left: 90%;
    overflow: visible;
    height: 0%;
}

.popup-button{
    position: relative;
    background-color: rgb(201, 201, 201);
    border-radius: 100%;
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    top: -11vh;
    right: -0.9vw;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
}

/* REMOVE SPINNERS FROM NUMBER INPUT */
/* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.active{
    opacity : 1 !important;
    font-weight: bold;
}

.hide{
    display: none;
}

.budget-dashboard input{
    /* MAKE INPUT SELECTABLE */
    -webkit-user-select: auto;      
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}
.popup{
    position: relative;
    top: 10%;
    height: 10px;
    background-color: #29313A;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 5%;
    padding-right: 8%;
    padding-left: 10%;
}
.close{
    cursor: pointer;
}
.title-popup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
}
.popup-input{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
#income-title-input,#income-amount-input,.add-income,#expense-title-input,#expense-amount-input,.add-expense{
    background-color:#515F72;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 35px;
    color: white;
    font-size: 18px;
    padding-left: 10px;
}
.add-income{
    background-color: #9368FE ;
    font-size: 18px;
}
.add-expense{
    background-color: #E266C2 ;
    font-size: 18px;
}
.label{
    font-size: 18px;
    font-weight: bold;
}
.popup-animation-in{
    -webkit-animation: popup-in 1s both;
    animation: popup-in 1s both;
}
@-webkit-keyframes popup-in {
    0% {
      -webkit-transform: translateY(0vh);
      transform: translateY(0vh);
    }
    100% {
      -webkit-transform: translateY(-40vh);
      transform: translateY(-40vh);
      height: 100vh;
    }
}
.button-animation-out{
    -webkit-animation: button-opacity-out 0.5s both;
    animation: button-opacity-out 0.5s both;
}
@-webkit-keyframes button-opacity-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
.popup-animation-out{
    -webkit-animation: popup-out 1s both;
    animation: popup-out 1s both;
}
@-webkit-keyframes popup-out {
    0% {
      -webkit-transform: translateY(-40vh);
      transform: translateY(-40vh);
      height: 100vh;
    }
    100% {
      -webkit-transform: translateY(0vh);
      transform: translateY(0vh);
      height: 0px;
    }
}
.button-animation-in{
    -webkit-animation: button-opacity-in 0.5s both;
    animation: button-opacity-in 0.5s both;
}
@-webkit-keyframes button-opacity-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@media(max-width:770px){
    body{
        overflow: hidden;
    }
    .budget-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    .budget-dashboard{
        width: 100%;
        height: 78vh;
        overflow: hidden;
    }
    .budget-header{
        display: grid;
        grid-template-areas: "balance"
                                "chart"
                                "total";
        height: 20vh;
        margin-bottom: 2vh;
    }
    .chart{
        display: none;
    }

    .balance{
        color: white;
        margin: 0px;
        font-size: 33px;
        margin-bottom: 1vh;
    }
    .dash-title{
        padding-left: 8%;
        font-size: 16px;
    }
    .toggle{
        font-size: 16px;
    }
    .value, .outcome-total, .income-total{
        font-size: 22px;
    }
    .list .expense, .list .income{
        height: 70px;
    }
    .popup-button{
        top: -20vh;
        right: 9vw;
    }
    @-webkit-keyframes popup-in {
        0% {
          -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
        }
        100% {
          -webkit-transform: translateY(-70vh);
          transform: translateY(-70vh);
          height: 100vh;
        }
    }
    @-webkit-keyframes popup-out {
        0% {
          -webkit-transform: translateY(-70vh);
          transform: translateY(-70vh);
          height: 100vh;
        }
        100% {
          -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
          height: 0px;
        }
    }
}